.header {
    background: $off_black;
    margin-bottom: $xl_size;
    padding: $m_size 0;
    color: white;
}

.header__title {
    font-size: $l_size;
    margin: 0;
}

.header__subtitle {
    color: $off_white;
    font-size: $m_size;
    font-weight: 500;
    margin: 0;
}